/* Make these buttons shrink to fit text. */
.HsmStatusButton .ZWidgetTable {
  width: auto !important;
  table-layout: auto !important;
}

/* Avoid buttons to be stuck together. */
.HsmStatusButton {
  margin-right: 8px;
}
