/* Shrink button to fit content */
.HsmButtonsInline {
  width: auto !important;
  display: inline-block !important;
}

.HsmButtonsInline .ZButtonTable {
  display: inline-table !important;
  margin-right: 0.5em;
}
